<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门列表</title>
</head>
<body>
    <div align="center">
        <h1>部门列表</h1>
        <hr>
        <div>
            <a href="/test_orm_old/add_dep_old/">增加一条记录</a>
        </div>
        <br>
        <table border="1" cellspacing="0px">
            <thead>
            <tr>
                <td>部门名称</td>
                <td>备注说明</td>
                <td colspan="2">操作</td>
            </tr>
            </thead>
            <tbody>
            <!--#dep_list即为视图函数list_dep_old中render()传入的参数//-->
            {#    dep_list是Django QuerySet对象，是一个数据集，实际包含数据表中一行一行的记录#}
            {#    取出每行记录存在dep中，通过{{ dep.字段名 }}取出每个字段的值#}
            {#  文件中用{{  }}、{%  %}包含字符串的形式，是模版语言语法#}
            {% for dep in dep_list %}
                <tr>
                    <td>{{ dep.dep_name }}</td>
                    <td>{{ dep.dep_script }}</td>
{#                    第一部分/test_orm_old/与一级URL配置文件/test_orm/test_orm/urls.py中#}
{#                        path('test_orm_old/',include('employee.urls')配置项有关，它匹配path的第一个参数；#}
{#                        第二部分del_dep_old/{{dep.id}}与二级URL配置文件/test_orm/employee/urls.py中#}
{#                        path('del_dep_old/<int:dep_id>/',del_dep_old)配置项有关，它匹配path的第一个参数。#}
{#                        单击<a>标签Django会调用views.py中del_dep_old视图函数，这个函数由path的第二个参数指定#}
                    <td><a href="/test_orm_old/del_dep_old/{{ dep.id }}">删除</a></td>
                    <td><a href="/test_orm_old/edit_dep_old/{{ dep.id }}">修改</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">无相关记录！</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>